.menuBox {
  position: fixed;
  top: 0;
  right: 0;  
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem; /* 36px */
  padding-top: 10rem; /* 160px */
  background-color: var(--color-white);
  transform: translateX(100%);  
  opacity: 0;
  transition: transform var(--transition-time-mobile-menu) var(--transition-timing-function), opacity var(--transition-time-mobile-menu) var(--transition-timing-function);
}

.menuBox.open {
  transform: translateX(0);  
  opacity: 1;
}

.menuBox.close {
  transform: translateX(100%);  
  opacity: 0;
}
