.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconTruck {
    width: 2.375rem; /* 38px */
    height: 2.375rem; /* 38px */
}

.iconLogo {
    width: 8.5rem; /* 136px */
    height: 1rem; /* 16px */
}