nav {
    display: flex;
    gap: .75rem; /* 12px */
}

.link {
    font-weight: var(--font-weight-semi-bold);
    transition: text-shadow var(--transition-time-nav), color var(--transition-time-nav);
}

.link.active,
.link:hover {
    text-shadow: .0625rem .0625rem .75rem; /* 1px 1px 12px */
    color: var(--color-button);
}
